@model IEnumerable<ModelLibrary.Request>

@{
    ViewData["Title"] = "Employee Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-white container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <span class="fw-bold text-dark w-50 m-auto fs-3">Employee Panel</span>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Change Password">
                @Html.ActionLink(" ", "ChangePassword",null,null,new {@class="me-4 icoRow text-dark fw-bold float-end bi bi-person-lock"})
            </span>
        </div>

        <h5 class="w-75 m-auto bg-dark bg-opacity-10 border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
           Pending Requests
        </h5>

        <div class="pre-scrollable">
        @foreach (ModelLibrary.Request req in Model)
        {

            <a href="@Url.Action("ViewRequest", "employeepanel", new {rid = req.Id })" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="@req.RequestType request">
                <div class="btn btn-lg btn-outline-dark shadow-lg w-75 m-auto my-2 p-2 reqRow">
                    <span class="float-start bg-light bg-opacity-75 text-dark shadow fs-6 rounded-pill p-1">@req.Id.ToString("D2")</span>

                    @switch (req.RequestType)
                    {
                        case "new":
                            <span class="float-start ms-2 bg-light bg-opacity-75 text-dark shadow fs-6 rounded-pill p-1">
                                <i class="bi bi-speedometer2"></i>
                            </span>
                            break;
                        case "transfer":
                            <span class="float-start ms-2 bg-light bg-opacity-75 text-dark shadow fs-6 rounded-pill p-1">
                                <i class="bi bi-arrow-left-right"></i>
                            </span>
                            break;
                        case "clearance":
                            <span class="float-start ms-2 bg-light bg-opacity-75 text-dark shadow fs-6 rounded-pill p-1">
                                <i class="bi bi-bookmark-check"></i>
                            </span>
                            break;
                        case "attach":
                            <span class="float-start ms-2 bg-light bg-opacity-75 text-dark shadow fs-6 rounded-pill p-1">
                                <i class="bi bi-clipboard-plus"></i>
                            </span>
                            break;
                        case "repair":
                            <span class="float-start ms-2 bg-light bg-opacity-75 text-dark shadow fs-6 rounded-pill p-1">
                                <i class="bi bi-tools"></i>
                            </span>
                            break;
                    }

                    @if (req.Consumer != null)
                    {
                        <span class="float-start ms-5 bg-dark bg-opacity-50 text-light fs-5 rounded p-1">Consumer</span>
                        <span class="float-start ms-1 p-1">@req.Consumer.ConsumerName</span>
                    }

                    <span class="float-end bg-dark bg-opacity-50 text-light fs-6 rounded p-1">
                        @req.RequestDate.ToString("dd/MM/yyyy")
                    </span>

                    @if (req.Subscription != null)
                    {
                        <span class="float-end me-5 p-1">@req.Subscription.ConsumerBarCode</span>
                        <span class="float-end me-1 bg-dark bg-opacity-50 text-light fs-5 rounded p-1">Barcode</span>
                    }




                </div>
            </a>
        }
        </div>
    </div>
</div>
