@model RequestProcessVM

@{
    ViewData["Title"] = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container py-2 h-100 m-auto">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <form method="post" asp-action="ProcessRequest">
                <div class="card-body p-5 text-center">
                    <h1 class="text-start">Request Details</h1>
                    <div class="row">
                        <div class="row text-center bg-light bg-opacity-10 rounded-3 m-auto p-3">
                            <div>
                                <h3 class="bg-white bg-opacity-25 rounded-3 p-2">Request</h3>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Id)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Id,  new { htmlAttributes = new { @class = "form-control text-center", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.RequestDate)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.RequestDate,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.RequestType)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.RequestType,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row text-center bg-light bg-opacity-10 rounded-3 m-auto p-3">
                            <div>
                                <h3 class="bg-white bg-opacity-25 rounded-3 p-2">Consumer</h3>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Consumer.ConsumerName)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Consumer.ConsumerName,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Consumer.ConsumerAddress)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Consumer.ConsumerAddress,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Consumer.ConsumerPhone)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Consumer.ConsumerPhone,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row text-center bg-light bg-opacity-10 rounded-3 m-auto p-3">
                            <div>
                                <h3 class="bg-white bg-opacity-25 rounded-3 p-2">Subscription</h3>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Subscription.ConsumerBarCode)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Subscription.ConsumerBarCode,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Subscription.ConsumerSubscriptionNo)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Subscription.ConsumerSubscriptionNo,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Request.Subscription.SubscriptionAddress)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(modelItem => Model.Request.Subscription.SubscriptionAddress,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row text-center bg-light bg-opacity-10 rounded-3 m-auto p-3">
                            <div>
                                <h3 class="bg-white bg-opacity-25 rounded-3 p-2">Invoices</h3>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    <label>Total Amount:</label>
                                </div>
                                <div class="col-6 fs-5 text-center bg-info bg-opacity-25 rounded-3">
                                    <label class="m-auto">@ViewData["total"]</label>
                                </div>
                            </div>
                            <div class="text-start row fs-3 pt-1">
                                <div class="col-6">
                                    <label>Unpaid Amount:</label>
                                </div>
                                <div class="col-6 fs-5 text-center bg-info bg-opacity-25 rounded-3">
                                    <label>@ViewData["unpaid"]</label>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center bg-light bg-opacity-10 rounded-3 m-auto p-3">
                            <div>
                                <h3 class="bg-white bg-opacity-25 rounded-3 p-2">Action</h3>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Log.Notes)
                                </div>
                                <div class="col-6 fs-5">
                                    @Html.TextAreaFor(modelItem => Model.Log.Notes,   new { @class = "form-control fs-5 w-100", rows = "3" } )
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    @Html.LabelFor(modelItem => Model.Log.Decision)
                                </div>
                                <div class="col-6">
                                    @Html.DropDownListFor(modelItem => Model.Log.Decision, new List<SelectListItem>{new SelectListItem{ Value = "true",Text="Accept"},new SelectListItem{Value = "false",Text="Reject"}},new { @class = "form-control text-center mt-2"})
                                </div>
                            </div>
                            <div class="text-start row fs-3 mt-3">
                                @Html.ActionLink("Cancel", "Index",new {}, new { @class="btn btn-lg btn-outline-danger w-25 m-auto"})

                                <input type="submit" class="btn btn-lg btn-outline-success w-25 m-auto" value="Process">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
