@model RequestProcessVM

@{
    ViewData["Title"] = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card text-white container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <h2 class="fw-bold text-dark">Request Details</h2>
        </div>
        <form method="post" asp-action="ProcessRequest">
            <div class="card-body px-5 text-center">
                <div class="row text-center rounded-3 m-auto">
                    <h5 class="bg-dark bg-opacity-10 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Request
                    </h5>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Id,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Id,  new { htmlAttributes = new { @class = "form-control text-center", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.RequestDate,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.RequestDate,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.RequestType,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.RequestType,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row text-center rounded-3 m-auto">
                    <h5 class="bg-dark bg-opacity-10 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Consumer
                    </h5>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Consumer.ConsumerName,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Consumer.ConsumerName,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Consumer.ConsumerAddress,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Consumer.ConsumerAddress,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Consumer.ConsumerPhone,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Consumer.ConsumerPhone,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row text-center rounded-3 m-auto">
                    <h5 class="bg-dark bg-opacity-10 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Subscription
                    </h5>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Subscription.ConsumerBarCode,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Subscription.ConsumerBarCode,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Subscription.ConsumerSubscriptionNo,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Subscription.ConsumerSubscriptionNo,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Request.Subscription.SubscriptionAddress,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(modelItem => Model.Request.Subscription.SubscriptionAddress,  new { htmlAttributes = new { @class = "form-control text-center",  @readonly = "readonly" } })
                        </div>
                    </div>
                </div>

                <div class="row text-center rounded-3 m-auto">
                    <h5 class="bg-dark bg-opacity-10 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Action
                    </h5>
                    @if (ViewData["repairemp"].ToString().ToLower().Equals("true"))
                    {
                        <div class="text-start row fs-3">
                            <div class="col-6">
                                <label class="control-label fs-4 text-white text-opacity-75 fw-bold">REPAIRMENT</label>
                            </div>
                            <div class="col-6 fs-5">
                                @Html.DropDownListFor(modelItem => Model.Log.Notes,  new List<SelectListItem>{new SelectListItem{ Value = "Body replacement",Text="Body replacement"},new SelectListItem{ Value = "Dash bord replacement",Text="Dash bord replacement"},new SelectListItem{Value = "Mechanical part replacement",Text="Mechanical part replacement"},new SelectListItem{Value = "Full Replacement",Text="Full Replacement"}},new { @class = "form-control text-center mt-2"})
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-start row fs-3">
                            <div class="col-6">
                                @Html.LabelFor(modelItem => Model.Log.Notes,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                            </div>
                            <div class="col-6 fs-5">
                                @Html.TextAreaFor(modelItem => Model.Log.Notes,   new { @class = "form-control fs-5 w-100", rows = "3" } )
                            </div>
                        </div>
                    }
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            @Html.LabelFor(modelItem => Model.Log.Decision,new {@class = "text-uppercase fs-4 text-white text-opacity-75 fw-bold"})
                        </div>
                        <div class="col-6">
                            @Html.DropDownListFor(modelItem => Model.Log.Decision, new List<SelectListItem>{new SelectListItem{ Value = "true",Text="Accept"},new SelectListItem{Value = "false",Text="Reject"}},new { @class = "form-control text-center mt-2"})
                        </div>
                    </div>
                    <div class="text-start row fs-3 mt-3">
                        @Html.ActionLink("Cancel", "Index",new {}, new { @class="btn btn-lg fw-bold btn-outline-danger w-25 m-auto"})

                        <input type="submit" class="btn btn-lg btn-outline-light fw-bold w-25 m-auto" value="Process">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

