@model IEnumerable<ModelLibrary.User>

@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <span class="fw-bold text-dark w-50 m-auto fs-3">
                Employees Management
                </span>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Add Employee">
                @Html.ActionLink(" ", "AddEmployee",null,null,new {@class="me-4 icoRow text-dark fw-bold float-end bi bi-person-add"})
            </span>
        </div>

        <h3 class="w-75 m-auto bg-dark bg-opacity-10 border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
            System Employees
        </h3>


        <div class="pre-scrollable">
            @foreach (ModelLibrary.User user in Model)
            {

                <div class="btn btn-lg btn-outline-dark shadow-lg w-75 m-auto my-2 p-2 reqRow">
                    <span class="float-start bg-light bg-opacity-75 text-dark shadow fs-5 rounded-pill p-2 m-auto">@user.Id.ToString("D3")</span>

                    <span class="float-start ms-5 fw-bold text-light fs-3 m-auto rounded p-1">@user.UserName</span>

                    <span class="float-end icoRow p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Change State">

                        @if (!user.UserName.Equals("admin"))
                        {
                            @Html.ActionLink(" ", "EditEmployee", new { id=user.Id },new {@class="bi bi-toggles bg-light bg-opacity-75 text-dark fw-bold shadow fs-3 rounded-pill p-1"})
                        }
                    </span>

                    <span class="float-end icoRow p-1"  data-bs-toggle="tooltip"  data-bs-placement="top"  title="Reset Password">
                        @Html.ActionLink(" ", "ResetPassword", new { id=user.Id },new {@class="bi bi-bootstrap-reboot bg-light bg-opacity-75 text-dark fw-bold shadow fs-3 rounded-pill p-1"})
                    </span>

                    <span class="float-end me-5 p-1" >

                        @if (user.AccountActive)
                        {
                            <i class="bi bi-person-check bg-light bg-opacity-75 text-success fw-bold shadow fs-3 rounded-pill p-1"></i>
                        }
                        else
                        {
                            <i class="bi bi-person-fill-x bg-light bg-opacity-75 text-danger fw-bold shadow fs-3 rounded-pill p-1"></i>
                        }

                    </span>
                </div>
            }
        </div>
    </div>
</div>
