@{
    ViewData["Title"] = "Consumer Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-2 h-100 m-auto">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h1 class="text-start">Consumer Panel</h1>
                <div class="row">
                    <div class="mb-3">
                        <span class="text-danger fw-bold fs-4">@ViewData["message"]</span>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div class="row p-1">
                            @Html.ActionLink("Add subscription","addsubscription","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                        <div class="row p-1">
                            @Html.ActionLink("Request Clearance","ClearanceRequest","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                        <div class="row p-1">
                            @Html.ActionLink("Request New Subscription","NewSubscription","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                        <div class="row p-1">
                            @Html.ActionLink("Request Meter Repair","RequistMeterRepair","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                        <div class="row p-1">
                            @Html.ActionLink("Show Invoices","InvoiceRequest","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                        <div class="row p-1">
                            @Html.ActionLink("Transfer Subscription Ownership","TransferOwnership","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                        <div class="row p-1">
                            <a href="#" class="btn btn-lg btn-outline-light">Service 7</a>
                        </div>
                        <div class="row p-1">
                            @Html.ActionLink("Logout","logout","ConsumerPanel",null, new { @class = "btn btn-lg btn-outline-light" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>