@model NewSubscriptionVM
@{
    ViewData["Title"] = "NewSubscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="gradient-custom">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form asp-action="SubmitNewSubscriptionRequest" enctype="multipart/form-data">
                        <h3 class="bg-white bg-opacity-25 rounded-3 p-3">New Subscription Request</h3>
                        @if (ViewData["error"] != null)
                        {
                            <h2 class="bg-white bg-opacity-10 rounded-3 p-3 text-danger">@ViewData["error"]</h2>
                        }

                        <div class="row text-center bg-light bg-opacity-10 rounded-3 m-auto p-3">

                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    Address
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.Address,  new { htmlAttributes = new { @class = "form-control text-center", @Required ="required"} })
                                </div>
                                <div class="fs-4 text-danger bg-white bg-opacity-10 rounded-3 m-2"
                                     @Html.ValidationMessageFor(m => m.Address)
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    Using Type
                                </div>
                                <div class="col-6">
                                    @Html.DropDownListFor(m => m.UsingType, new List<SelectListItem>{new SelectListItem{ Value = "residential",Text="Residential"},new SelectListItem{Value = "commercial",Text="Commercial"},new SelectListItem{Value = "industrial",Text="Industrial"}},new { @class = "form-control text-center mt-2"})
                                </div>
                                <div class="fs-4 text-danger bg-white bg-opacity-10 rounded-3 m-2"
                                     @Html.ValidationMessageFor(m => m.UsingType)
                                </div>
                            </div>
                            <div class="text-start row fs-3">
                                <div class="col-6">
                                    Owning Certificate
                                </div>
                                <div class="col-6">
                                    <input type="file" asp-for="@Model.Document" accept=".jpg,.jpeg" class="form-control my-2"/>
                                </div>
                                <div class="fs-4 text-danger bg-white bg-opacity-10 rounded-3 m-2"
                                     @Html.ValidationMessageFor(m => m.Document)
                                </div>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-lg btn-outline-success w-25 m-auto" value="Submit Request">

                        @Html.ActionLink("Cancel", "Index", new { },new {@class="btn btn-lg btn-outline-danger m-3 w-25"})
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>