@model NewSubscriptionVM
@{
    ViewData["Title"] = "NewSubscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-white container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <h2 class="fw-bold text-dark">New Subscription Request</h2>
        </div>

        <form asp-action="SubmitNewSubscriptionRequest" enctype="multipart/form-data">
            <div class="row m-5 ">
                <div class="p-4 m-5 w-75  m-auto border rounded border-dark shadow-lg">
                    <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Please fill the form
                    </h4>

                    <div class="text-start pt-4 row fs-3">
                        <div class="col-6">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Address</label>
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(m => m.Address,  new { htmlAttributes = new { @class = "form-control text-center", @Required ="required"} })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Using Type</label>
                        </div>
                        <div class="col-6">
                            @Html.DropDownListFor(m => m.UsingType, new List<SelectListItem>{new SelectListItem{ Value = "residential",Text="Residential"},new SelectListItem{Value = "commercial",Text="Commercial"},new SelectListItem{Value = "industrial",Text="Industrial"}},new { @class = "form-control text-center mt-2"})
                            @Html.ValidationMessageFor(m => m.UsingType)

                        </div>
                    </div>
                    <div class="text-start row fs-3">
                        <div class="col-6">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Owning Certificate</label>
                        </div>
                        <div class="col-6">
                            <input type="file" asp-for="@Model.Document" accept=".jpg,.jpeg" class="form-control my-2" />
                            @Html.ValidationMessageFor(m => m.Document)

                        </div>
                    </div>

                    <div class="card-body text-center form-group mt-3">
                        <input type="submit" class="btn btn-lg btn-outline-light w-25 m-auto fw-bold" value="Submit Request">

                        @Html.ActionLink("Cancel", "Index", new { },new {@class="fw-bold btn btn-lg btn-outline-danger m-3 w-25"})
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>