@model IEnumerable<ModelLibrary.Subscription>
@{
    ViewData["Title"] = "AddSubscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2 mb-2">
            <h2 class="fw-bold text-dark">Please Choose the Subscription</h2>
        </div>

        <div class="pre-scrollable">
            @foreach (ModelLibrary.Subscription sub in Model)
            {                
                <div class="btn btn-lg btn-outline-dark shadow-lg w-75 m-auto my-2 p-2 reqRow">
                    <span class="float-start bg-light bg-opacity-75 text-dark shadow fs-5 rounded-pill p-2 m-auto">@sub.Id.ToString("D3")</span>
                    <span class="float-start ms-5 fw-bold text-light fs-4 m-auto rounded p-1">@sub.ConsumerBarCode</span>
                    <span class="float-start ms-5 fw-bold text-light fs-4 m-auto rounded p-1">@sub.ConsumerSubscriptionNo</span>
                    <span class="float-start ms-5 fw-bold text-light fs-5 m-auto rounded p-1">@sub.SubscriptionUsingType</span>
                    @switch (ViewData["requestType"])
                    {
                        case "clearance":
                            @Html.ActionLink("", "SubmitClearanceRequest", new { sid = sub.Id }, new { @class = "float-end bi bi-hand-index text-dark icoRow fs-3" })
                            break;
                        case "repair":
                            @Html.ActionLink("", "SubmitRepairRequest", new { sid=sub.Id },new {@class="float-end bi bi-hand-index text-dark icoRow fs-3"})
                            break;
                        case "invoice":
                            @Html.ActionLink("", "ViewSubscriptionInvoices", new { sid=sub.Id },new {@class="float-end bi bi-hand-index text-dark icoRow fs-3"})
                            break;
                    }
                </div>
            }
        </div>
        @Html.ActionLink("Cancel", "Index", new { },new {@class="btn btn-lg btn-outline-danger fw-bold m-3 w-25"})
    </div>
</div>