@model IEnumerable<WaterCompanyModelLibrary.Subscription>;

@{
    ViewData["Title"] = "Consumers Manager";
}

<h1>Consumers Manager</h1>

<p>
    <a asp-page="/Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerBarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerSubscriptionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumer.ConsumerName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionUsingType)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumerBarCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumerSubscriptionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumer.ConsumerName)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionUsingType)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionStatus)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
